* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(178, 190, 129);
  color: rgb(35, 8, 8);
  font-family: "Chakra Petch", sans-serif;
}

.card {
  background-color: white;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  border: solid black 1px;
}

.card-title,
.card-subtitle {
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.logo-img {
  width: 50vw;
  margin: 2rem 0 0 0;
}
.img-container {
  display: flex;
  justify-content: center;
}

.loader {
  animation: 3s loading infinite linear;
  display: flex;
  justify-content: center;
  visibility: hidden;
  margin: 0;
}

.loader img {
  width: 100px;
  object-fit: cover;
}

.show {
  visibility: visible;
  margin: 3rem;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  display: flex;
  margin: 0.5rem;
  display: inline-block;
}

.grass {
  background-image: linear-gradient(rgb(65, 200, 72), rgb(255, 255, 255));
}

.fire {
  background-image: linear-gradient(rgb(255, 69, 69), rgb(255, 255, 255));
}

.water,
.ice {
  background-image: linear-gradient(rgb(100, 120, 255), rgb(255, 255, 255));
}

.bug,
.ghost,
.poison {
  background-image: linear-gradient(rgb(162, 80, 255), rgb(255, 255, 255));
}

.normal {
  background-image: linear-gradient(rgb(238, 252, 169), rgb(255, 255, 255));
}

.electric,
.psychic {
  background-image: linear-gradient(rgb(255, 252, 66), rgb(255, 255, 255));
}

.ground,
.rock {
  background-image: linear-gradient(rgb(106, 74, 48), rgb(255, 255, 255));
}

.fairy {
  background-image: linear-gradient(rgb(253, 164, 164), rgb(255, 255, 255));
}

.fighting {
  background-image: linear-gradient(rgb(222, 168, 82), rgb(255, 255, 255));
}

.dragon {
  background-image: linear-gradient(rgb(235, 189, 115), rgb(255, 255, 255));
}
